<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이메일 인증 페이지</title>

    <th:block th:replace="fragment/common :: commonStatic"></th:block>

</head>
<body>
<th:block th:replace="fragment/header :: commonHeader"></th:block>

<div class="uk-container">

    <div class="uk-flex uk-flex-center">

        <div class="uk-form-horizontal uk-margin-top">

            <h2 class="uk-text-center">이메일 인증</h2>

            <form action="/api/auth/email/send" id="accountForm" method="GET">

                <input type="hidden" name="uuid" th:value="${uuid}">

                <div class="uk-margin">
                    <legend class="uk-legend">이메일</legend>
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input" type="text" aria-label="Not clickable icon" id="email" name="email">
                    </div>
                    <div th:if="${count != null}">
                        이메일 인증에 <span th:text="${count}"></span> 번 실패하였습니다.
                    </div>

                </div>

                <div class="uk-flex uk-flex-center">
                    <button class="uk-button uk-button-primary" type="submit" id="submitButton">인증번호 전송</button>
                </div>

            </form>

        </div>
    </div>

</div>

</body>

</html>